@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Calle X 123,<br />
    Casa 10, Comuna X <br />
    <abbr title="Phone">P:</abbr>
    112233344
</address>

<address>
    <strong>Soporte:</strong>   <a href="mailto:soporte@example.com">Soporte@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:marketing@example.com">Marketing@example.com</a>
</address>